<div class="card-contents">

  <h1><strong>Per product widgets</strong></h1>

  <div class="badge-container" [ngSwitch]="loadingState">

    <!-- Loading icon whilst the data downloads -->
    <div class="load-container" *ngSwitchCase="LoadingState.Loading">
      <span>Loading</span>
      <mat-icon class="spin">autorenew</mat-icon>
    </div>

    <ng-container *ngSwitchCase="LoadingState.Loaded">

      <!-- app-badge is a re-usable component -->
      <app-badge *ngFor="let data of envmtData; index as i"
        [badgeData]="data"
        [badgeText]="badgeText[i]"
        (badgeDataEmit)="handleBadgeDataEmit($event)">
      </app-badge>
    </ng-container>

    <!-- Error message if there is a problem connecting to the API - The user can report this -->
    <p *ngSwitchCase="LoadingState.NotLoaded">User badges were unable to load: {{errorMessage}}</p>

  </div>
</div>
